
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex1{
    width: 100%;
    height: 100%;
}

.card1 {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

.card1 > div{

    height: 70px; 
    width: 70px;
    border:1px solid black ;
    background-color:blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;

}

.card2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20vh;
}

.card2 > div{
    height: 70px;
    width:70px;
    border: 1px solid black;
   background-color: blue;
   color: white;
   text-align: center;
   margin-top: 15px;
   padding-top: 25px;


}


.card3 {
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
   height: 20vh;
}

.card3 > div{
    height: 70px; 
    width: 70px;
    border: 1px solid black;
    background-color: blue;
    text-align: center;
    color: white;
    margin-top: 15px;
    padding-top: 25px;
}



.card4{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;

}

.card4 > div{
    height: 70px;
    width: 70px;
    border: 1px solid  black;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;
}

.card5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
}

.card5 > div{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;
}


.card6{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20vh;

}


.card6 > div{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;


}


.card7{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20vh;
}


.card7 > div{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;
}


.card8{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.card8 > div{

    height: 70px;
    width: 70px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;

}

.card9{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20vh;
}




.card9 > div{

    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;


    
}


.card10{
    
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    height: 20hv;
}

.card10 > div{

   
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;

}

.full-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}











