

.box{
    display: flex;
    justify-content: space-between;
}

.box > div {
    width: 200px;
    height: 200px;
    background-color: blue;
}

@media only screen and (min-width: 1200px) {
    .box > div:nth-child(1){
        background-color: orangered;
    }
}


@media only screen and (min-width: 1300px) {
    .box > div:nth-child(2){
        background-color: green;
    }
}

@media only screen and (min-width: 1400px) {
    .box > div:nth-child(3){
        background-color: violet;
    }
}


@media only screen and (max-width: 1000px) {
    .box > div:nth-child(1){
        background-color: orangered;
    }
}


@media only screen and (max-width: 900px) {
    .box > div:nth-child(2){
        background-color: green;
    }
}


@media only screen and (max-width: 800px) {
    .box > div:nth-child(3){
        background-color: violet;
    }
}